<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <style>
        #back{
            width: 100%;
            height: 100%;
            background-color: #dadada;

        }
        #img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
        }
        #img a{
  display: inline-block;
  text-decoration: none;
  padding: 5px 15px;
  background-color: rgb(68, 94, 133);
  border-radius: 5px;
  color: white;
}
    </style>
</head>
<body>
    <div id="back">
    <div id="img">
        <img src="https://media1.tenor.com/images/df152f344dd7dc046446a3a89b29200c/tenor.gif?itemid=18739889" alt="">
        <a href="/">Home | Login </a>
   
    </div>    
    </div>
    
</body>
</html>